body {
    font-family: 'Fira Sans', sans-serif;
    color: black;
  }

.weather-dashboard {
  flex-direction: center;
  background: linear-gradient(to right, rgb(22, 94, 248), rgb(8, 2, 61));
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

/* what is overriding this font?! */
.text-body {
  font-family: 'Fira Sans', sans-serif;
}

